<div id='admin' class='row'>
    <div class='col-2'>
        <ul>
            <%- await hook.do_action('MENU_DASHBOARD') %>
        </ul>
    </div>
    <div class='col-10'>
        Content Right
    </div>
</div>