<div class='mt-10-auto w-25 ' ng-app = 'app' ng-controller ='app'>
    <h1 class='text-center mb-5'>Change Password</h1>
<form >
        <%-input({
            id:'oldpassword',
            label: "Old Password",
            type: 'password',
            attr: [
            {
                key: 'ng-model',
                value: 'user.oldpassword'
            }]
        }) %>
        <%-input({
            id: 'newpassword',
            label: "New Password",
            type: 'password',
            attr: [
                {
                    key: 'ng-model',
                    value: 'user.newpassword'
                }
            ]
        }) %>
    <div class='d-flex align-item-center justify-content-center'>
            <button type='submit' class='btn btn-primary col-md-3 mt-4' ng-click = 'change()'> Change </button>
    </div>
</form>
</div>