<div class='mt-10-auto w-25' ng-app = 'app' ng-controller ='app'>
        <h1 class='text-center'>Login</h1>
    <form >
            <%-input({
                id:'username',
                label: "Username",
                type: 'text',
                attr: [
                {
                    key: 'ng-model',
                    value: 'user.username'
                }]
            }) %>
            <%-input({
                id: 'password',
                label: "Password",
                type: 'password',
                attr: [
                    {
                        key: 'ng-model',
                        value: 'user.password'
                    }
                ]
            }) %>
        <div class='d-flex align-item-center justify-content-center'>
                <button type='submit' class='btn btn-primary col-md-3 mt-4' ng-click = 'login()'> Login </button>
        </div>
    </form>
</div>