<div class='container' ng-app ='app' ng-controller='mymarket'>
    <div class='table-responsive mt-2'>
        <h3 >BTC MY Markets</h3>
        <table class='table mt-2' style='max-height: 700px'>
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Market Name
                    </th>
                    <th>
                        Buy Price
                    </th>

                    <th>
                        Last Price
                    </th>
                    <th>
                        BTC
                    </th>
                    <th>
                        USD
                    </th>
                    <th>
                        Đánh Giá
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody> 
                <tr ng-repeat = "item in markets ">
                    <td>
                        {{$index+1}}
                    </td>
                    <td>
                        {{item.MarketName}}
                    </td>
                    <td>
                        {{item.BuyPrice}}
                    </td>
                    <td>
                        {{item.Last}}
                    </td>
                    <td>
                        {{item.btc}}
                    </td>
                    <td>
                        {{item.usd}}
                    </td>
                    <td>
                        {{item.Last - item.BuyPrice}}
                    </td>
                    <td>
                        <a href="/markets/{{item.MarketName}}" class='btn btn-success'> View</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>