<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>
        <%- await hook.do_filter('ADMIN_PAGE_TITLE', '') %>
    </title>
    <%- await hook.do_action('RESPONSE_HEAD') -%>
</head>

<body class='container'>