<div id='admin' class='row'>
    <div class='col-2'>
        <ul>
            <li>
                <a href='/admin/user'>user</a>
            </li>

            <li>
                <a href='/admin/projects'>Project</a>
            </li>
        </ul>
    </div>
    <div class='col-10'>
        Content Right
    </div>
</div>