<%- await include('template/header.ejs') %>

<form action="" method="POST">
    <label>Username:</label>
    <input type='text' name='username' />
    <label>password:</label>
    <input type='password' name='password' />
    <button>Submit</button>
</form>
<%- await include('template/footer.ejs') %>